body{
    background-color: rgb(148, 111, 182);
}

h2 {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}
table {
    border-collapse: collapse;
}

td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

.navbar-1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border: 1px solid #888;
}

.navbar-1 ul li{
    display: inline;
    float: left;
    /*text-align: center;*/
    border-bottom: 1px solid #888;
}


.navbar-1 a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgb(183, 127, 236);
}

.navbar-1 a:hover {
    background-color: rgb(217, 176, 255);
    color: #000;
}

.pokedex-table {
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.para-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
    /*margin-left: 0 auto;
    margin-right: 0 auto;*/
}