body{
    background-color: rgb(148, 111, 182);
}

h2 {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}
table {
    border-collapse: collapse;
}

td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

.navbar-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pokedex-table {
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.para-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
    /*margin-left: 0 auto;
    margin-right: 0 auto;*/
}